$header-color-amber: oklch(27.9% 0.077 45.635); //last
$header-text-amber: oklch(92.4% 0.12 95.746); //3d

//folooring dark bg + light fiels + text
$bg-teal: oklch(43.7% 0.078 188.216);
$bg-sky: oklch(44.3% 0.11 240.79);

$bg-amber: oklch(27.9% 0.077 45.635);

$text: oklch(92.4% 0.12 95.746);
$input-text: oklch(27.9% 0.077 45.635);

$input-highlight: oklch(76.9% 0.188 70.08);
